body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root{
    --color-zero: gray;
    --color-zero-dez: red;
    --color-onze-vinte: rgb(255, 76, 22);
    --color-vinteUm-trinta: rgb(255, 115, 0);
    --color-trintaUm-quarenta: rgb(224, 172, 0);
    --color-quarentaUm-cinquenta: yellow;
    --color-cinquentaUm-sessenta: rgb(166, 255, 0);
    --color-sessentaUm-setenta: rgb(193, 255, 79);
    --color-setentaUm-oitenta: rgb(94, 255, 0);
    --color-oitentaUm-noventa: rgb(16, 124, 16);
    --color-noventaUm-cem: green;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
