@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root{
    --color-zero: gray;
    --color-zero-dez: red;
    --color-onze-vinte: rgb(255, 76, 22);
    --color-vinteUm-trinta: rgb(255, 115, 0);
    --color-trintaUm-quarenta: rgb(224, 172, 0);
    --color-quarentaUm-cinquenta: yellow;
    --color-cinquentaUm-sessenta: rgb(166, 255, 0);
    --color-sessentaUm-setenta: rgb(193, 255, 79);
    --color-setentaUm-oitenta: rgb(94, 255, 0);
    --color-oitentaUm-noventa: rgb(16, 124, 16);
    --color-noventaUm-cem: green;
}

.fill-color-zero-dez{
  fill: var(--color-zero-dez);
}
.fill-color-onze-vinte{
  fill: var(--color-onze-vinte);
}
.fill-color-vinteUm-trinta{
  fill: var(--color-vinteUm-trinta);
}
.fill-color-trintaUm-quarenta{
  fill: var(--color-trintaUm-quarenta);
}
.fill-color-quarentaUm-cinquenta{
  fill: var(--color-quarentaUm-cinquenta);
}
.fill-color-cinquentaUm-sessenta{
  fill: var(--color-cinquentaUm-sessenta);
}
.fill-color-sessentaUm-setenta{
  fill: var(--color-sessentaUm-setenta);
}
.fill-color-setentaUm-oitenta{
  fill: var(--color-setentaUm-oitenta);
}
.fill-color-oitentaUm-noventa{
  fill: var(--color-oitentaUm-noventa);
}
.fill-color-noventaUm-cem{
  fill: var(--color-noventaUm-cem);
}
.fill-color-zero{
  fill: var(--color-zero)
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
